// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use 'sass:math';

body {
  background-color: #fafafb;
}

ul,
ol {
  padding: 0;
}

body,
header {
  transition: background-color .5s;
}

header {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid $color-primary-dark;
  background-color: $color-primary;
  color: #333;
}

footer {
  padding: 20px 0;
}

.navbar__brand {
  position: absolute;
  font-size: 24px;
}

.content {

  @media screen and (min-width: 576px) {
    max-width: 75%;
  }

  >section {
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 5px 10px -7px rgba(87, 53, 117, .13), 0 10px 30px -6px rgba(0, 60, 170, .1);

    >h2 {
      padding-bottom: 20px;
      margin-top: 10px;
      border-bottom: 6px solid $color-primary;
    }
  }
}

.example {

  >.btn,
  >.btns {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

// Palette
.palette {
  border-radius: 4px;
  min-height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  color: #fff;
  font-weight: bold;

  &__info {
    color: #fff;
  }
}

// Prettify code style
.com {
  color: #93a1a1;
}

.lit {
  color: #195f91;
}

.pun,
.opn,
.clo {
  color: #93a1a1;
}

.fun {
  color: #dc322f;
}

.str,
.atv {
  color: #d14;
}

.kwd,
.linenums .tag {
  color: #1e347b;
}

.typ,
.atn,
.dec,
.var {
  color: teal;
}

.pln {
  color: #48484c;
}

// Theme-dark

.theme-dark {
  header {
    background-color: #262626;
    border-color: #2d2d2d;
    color: #fff;
  }

  footer {
    background-color: #262626;
    border-color: #2d2d2d;
    color: #fff;
  }

  .content {
    >section {
      background-color: transparent;
      box-shadow: none;

      h2 {
        border-bottom-color: #2d2d2d;
      }
    }
  }

  .grid__box {
    background-color: #313131;
    border-color: #424242;
    color: #eee;

    &:hover {
      background-color: #2d2d2d;
    }
  }

  .sidebar>ul>li>a:hover {
    background-color: #191919;
  }

  // Prettify code style
  .com {
    color: #666;
  }

  .lit {
    color: #195f91;
  }

  .pun,
  .opn,
  .clo {
    color: #fff; // pun
  }

  .fun {
    color: #dc322f;
  }

  .str,
  .atv {
    color: #96b38a; // atv
  }

  .kwd,
  .linenums .tag {
    color: #a7925a; // tag
  }

  .typ,
  .atn,
  .dec,
  .var {
    color: #ddca7e; // atn
  }

  .pln {
    color: #fff; // pln
  }

  .prettyprint {
    background-color: #1f1f1f;
    border: 1px solid #313131;
  }

  .prettyprint.linenums {
    box-shadow: inset 40px 0 0 #292929, inset 41px 0 0 #313131;
  }

  ol.linenums li {
    text-shadow: none;
  }
}